/* .cover {
  position: relative;
  background-image:url('../images/cover.jpg');
  background-size:cover;
  background-position: center;
  min-height: 757px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;padding: 40px 60px;
}


.overlay {
  position: absolute;
  inset: 0;
  background-color:rgba(0, 0, 0,0.5);
  z-index: 1;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 2;
  color:#fff;
}
.cover__title{
  font-size: 100px;
  text-transform: uppercase;
  line-height: 1.15;
}
.cover__description{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}

.aligned-text{
  display: block;
  letter-spacing: 30px;
  width: 100%;
}

.aligned-text_left{
  text-align: left;
}

.aligned-text_center{
  text-align: center;
}

.aligned-text_right{
  text-align: right;
}

.cover__description-text{
  font-size: 22px;
  line-height: 28;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
  word-spacing: 35px;
}

.bet-button{
  display: inline-block;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 15px 30px;
  border-radius: 0;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  z-index: 3;
} */